@using Microsoft.AspNet.Identity
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<User> signInManager;

@if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
}
