.carousel-image[b-tghslklqlm] {
    height: 500px; /* Set your desired height */
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel-image[b-tghslklqlm] {
        height: 300px; /* Adjust height for smaller screens */
    }
}

@media (max-width: 576px) {
    .carousel-image[b-tghslklqlm] {
        height: 200px; /* Further adjust height for the smallest screens */
    }
}
