@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
</head>
<body>

    <h2>Book index</h2>

</body>
</html>
