@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin Dashboard";
}
<style>
    #main-content {
        margin-bottom: 50px;
    }
</style>
<div class="row">
    <!-- Sidebar -->
    <nav id="sidebar"
         class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-url="/Admin/UserView" data-target="#main-content">
                        <i class="bi bi-people"></i> Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-url="/Admin/BookView" data-target="#main-content">
                        <i class="bi bi-file-earmark-text"></i> Books
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="#" data-url="/Admin/LoanView" data-target="#main-content">
                        <i class="bi bi-file-earmark-text"></i> Loans
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="main-content">
        <!-- Content will be loaded here -->
        This is main content
    </main>
</div>
@* Add ajax script *@
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>

    document.addEventListener('DOMContentLoaded', () => {
        const links = document.querySelectorAll('.nav-link');

        links.forEach(link => {
            link.addEventListener('click', function (e) {
                e.preventDefault();

                const url = this.getAttribute('data-url');
                const target = document.querySelector(this.getAttribute('data-target'));

                if (url && target) {
                    fetch(url)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.text();
                        })
                        .then(html => {
                            target.innerHTML = html;
                        })
                        .catch(error => {
                            console.error('There has been a problem with your fetch operation:', error);
                            target.innerHTML = '<p class="text-danger">Error loading content.</p>';
                        });
                }
            });
        });
    });
    
    // function to load content
    function loadContent(url, target) {
        if (url && target) {
            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(html => {
                    target.innerHTML = html;
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                    target.innerHTML = '<p class="text-danger">Error loading content.</p>';
                });
        }
    }
    
    // Ajax scripts for Admin
    $(document).ready(function () {
        // Delete Users
        $(document).on('click', '.delete-user-btn', function () {
            const userEmail = $(this).data('email');
            const url = `/Account/DeleteAccount/?userEmail=${encodeURIComponent(userEmail)}`;

            if (confirm('Are you sure you want to delete this user?')) {
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    data: {
                        email: userEmail
                    },
                    success: function (response) {
                        if (response.success) {
                            alert('User deleted successfully.');

                            // Call loadContent with actual URL and target
                            loadContent('/Admin/UserView', document.querySelector('#main-content'));
                            
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('Error deleting user.');
                    }
                });
            }
        });
        
        // Delete Books
        $(document).on('click', '.delete-book-btn', function () {
            const bookId = $(this).data('id');
            console.log(bookId);
            const url = `/Book/DeleteBook/?bookId=${encodeURIComponent(bookId)}`;

            if (confirm('Are you sure you want to delete this book?')) {
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function (response) {
                        if (response.success) {
                            alert('Book deleted successfully.');

                            // Call loadContent with actual URL and target
                            loadContent('/Admin/BookView', document.querySelector('#main-content'));
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('Error deleting book.');
                    }
                });
            }
        });
        
        
        // Delete Loans
        $(document).on('click', '.delete-loan-btn', function () {
            const loanId = $(this).data('id');
            console.log(loanId)
            const url = `/Loan/DeleteLoan/?loanId=${encodeURIComponent(loanId)}`;

            if (confirm('Are you sure you want to delete this loan?')) {
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function (response) {
                        if (response.success) {
                            alert('Loan deleted successfully.');

                            // Call loadContent with actual URL and target
                            loadContent('/Admin/LoanView', document.querySelector('#main-content'));
                        } else {
                            alert('Error deleting loan.');
                        }
                    },
                    error: function () {
                        alert('Error deleting loan.');
                    }
                });
            }
        });
        
        
        // Edit Users
        $(document).on('click', '.confirm-edit-user-btn', function () {
            let userData = {
                Id: $('#editUserId').val(),
                FullName: $('#editFullname').val().trim(),
                Email: $('#editUserEmail').val().trim(),
            };

            $.ajax({
                url: `/Account/EditUser`,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(userData),
                success: function (response) {
                    if (response.success) {
                        alert('User updated successfully!');
                        $('#editUserModal').modal('hide');

                        // Call loadContent with actual URL and target
                        loadContent('/Admin/UserView', document.querySelector('#main-content'));
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function () {
                    alert('Error loading user.');
                }
            });
        });
        
        // Fetch user details
        $(document).on('click', '.edit-user-btn', function () {
            const userId = $(this).data('id');
            console.log(userId);
            // Fetch user details using the userId
            fetchUserDetails(userId);
        });
        
        function fetchUserDetails(userId) {
            const url = `/Account/GetAccountDetails/?userId=${encodeURIComponent(userId)}`;
            
            $.ajax({
                url: url,
                method: 'GET',
                success: function(response) {
                    if (response.success) {
                        let user = response.user;
                        
                        console.log(user);
                        console.log(user.id);
                    
                        // Populate the form fields
                        $('#editUserId').val(user.id);
                        $('#editFullname').val(user.fullName);
                        $('#editUserEmail').val(user.email);
                        $('#editUserPassword').val(user.password);
                    } else {
                        alert(response.message);
                    }
                },
                error: function(error) {
                    console.error('Error fetching user details:', error);
                }
            });
        }
        

        // Edit Books
        $(document).on('click', '.edit-book-btn', function () {
            const bookId = $(this).data('id');
            console.log(bookId);
            // Fetch book details using the bookId
            fetchBookDetails(bookId);
        });

        function fetchBookDetails(bookId) {
            const url = `/Book/GetBookDetails/?bookId=${encodeURIComponent(bookId)}`;
            
            $.ajax({
                url: url,
                method: 'GET',
                success: function(response) {
                    if (response.success) {
                        let book = response.book;
                        
                        console.log(book);
                        const date = new Date(book.publishedYear);
                        const formattedDate = date.toISOString().slice(0, 10);
                    
                        // Populate the form fields
                        $('#editBookId').val(book.bookId);
                        $('#editBookTitle').val(book.title);
                        $('#editBookDescription').val(book.description);
                        $('#editBookCode').val(book.bookCode);
                        $('#editBookPublisher').val(book.publisher);
                        $('#editPublishedYear').val(formattedDate);
                        $('#editBookCategory').val(book.categoryId);
                        $('#editBookAuthor').val(book.authorId);
                        $('#editTotalCopies').val(book.totalCopies);
                        $('#editAvailableCopies').val(book.availableCopies);
                        $('#editAvatar').val(book.avatar);
                        $('#editPdf').val(book.pdf);
                    } else {
                        alert(response.message);
                    }
                },
                error: function(error) {
                    console.error('Error fetching book details:', error);
                }
            });
        }
        
        // Save Edit Books
        $(document).on('click', '.confirm-edit-book-btn', function () {
            const bookData = {
                BookId: $('#editBookId').val(),
                Title: $('#editBookTitle').val().trim(),
                Description: $('#editBookDescription').val().trim(),
                BookCode: $('#editBookCode').val().trim(),
                Publisher: $('#editBookPublisher').val().trim(),
                PublishedYear: $('#editPublishedYear').val(),
                CategoryId: $('#editBookCategory').find(":selected").val(),
                AuthorId: $('#editBookAuthor').find(":selected").val(),
                TotalCopies: $('#editTotalCopies').val().trim(),
                AvailableCopies: $('#editAvailableCopies').val().trim(),
                Avatar: $('#editAvatar').val(),
                Pdf: $('#editPdf').val()
            };

            $.ajax({
                url: '/Book/EditBook',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(bookData),
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        $('#editBookModal').modal('hide');

                        // Call loadContent with actual URL and target
                        loadContent('/Admin/BookView', document.querySelector('#main-content'));
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function () {
                    alert('Error adding book.');
                }
            });
        });
        
        // Edit loan
        $(document).on('click', '.edit-loan-btn', function () {
            const loanId = $(this).data('id');
            console.log(loanId);
            // Fetch loan details using the loanId
            fetchLoanDetails(loanId);
        });
        
        // fetch loan details
        function fetchLoanDetails(loanId) {
            const url = `/Loan/GetLoanDetails/?loanId=${encodeURIComponent(loanId)}`;
            
            $.ajax({
                url: url,
                method: 'GET',
                success: function(response) {
                    if (response.success) {
                        let loan = response.loan;
                        
                        console.log(loan);
                        const loanDate = new Date(loan.loanDate);
                        const formattedLoanDate = loanDate.toISOString().slice(0, 10);
                        const dueDate = new Date(loan.dueDate);
                        const formattedDueDate = dueDate.toISOString().slice(0, 10);
                        const returnDate = new Date(loan.returnDate);
                        const formattedReturnDate = returnDate.toISOString().slice(0, 10);
                    
                        // Populate the form fields
                        $('#editLoanId').val(loan.loanId);
                        $('#editUserId').val(loan.userId);
                        $('#editBookId').val(loan.bookId);
                        $('#editLoanDate').val(formattedLoanDate);
                        $('#editDueDate').val(formattedDueDate);
                        $('#editReturnDate').val(formattedReturnDate);
                        $('#editStatus').val(loan.status);
                    } else {
                        alert(response.message);
                    }
                },
                error: function(error) {
                    console.error('Error fetching loan details:', error);
                }
            });
        }
        
        
        // Save edit loans
        $(document).on('click', '.confirm-edit-loan-btn', function () {
            const loanData = {
                LoanId: $('#editLoanId').val(),
                UserId: $('#editUserId').val(),
                BookId: $('#editBookId').val(),
                LoanDate: $('#editLoanDate').val(),
                DueDate: $('#editDueDate').val(),
                ReturnDate: $('#editReturnDate').val(),
                Status: $('#editStatus').val()
            };
            
            console.log(loanData)

            $.ajax({
                url: '/Loan/UpdateLoan',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(loanData),
                success: function (response) {
                    if (response.success) {
                        alert('Loan updated successfully!');
                        $('#editLoanModal').modal('hide');

                        // Call loadContent with actual URL and target
                        loadContent('/Admin/LoanView', document.querySelector('#main-content'));
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function () {
                    alert('Error updating loan.');
                    $('#editLoanModal').modal('hide');
                }
            });
        });
        
        
        // Create Users
        $(document).on('click', '.create-user-btn', function () {
            const userName = $('#userName').val().trim();
            const userEmail = $('#userEmail').val().trim();
            const userPassword = $('#userPassword').val();
            const confirmPassword = $('#confirmPassword').val();

            // Reset error message
            $('#passwordMismatch').hide();

            // Validate form fields
            if (!userName || !userEmail || !userPassword || !confirmPassword) {
                alert('All fields are required.');
                return;
            }

            if (userPassword !== confirmPassword) {
                $('#passwordMismatch').show();
                return;
            }

            // Create the user object
            const userViewModel = {
                FullName: userName,
                Email: userEmail,
                Password: userPassword
            };

            const url = `/Account/CreateAccount`;

            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(userViewModel),
                success: function (response) {
                    if (response.success) {
                        alert('User created successfully!');
                        $('#addUserModal').modal('hide');
                        
                        // Call loadContent with actual URL and target
                        loadContent('/Admin/UserView', document.querySelector('#main-content'));
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function () {
                    alert('Error creating user.');
                }
            });
        });
        
        
        // Create Books
        $(document).on('click', '.add-book-btn', function () {
            const bookData = {
                Title: $('#bookTitle').val().trim(),
                Description: $('#bookDescription').val().trim(),
                BookCode: $('#bookCode').val().trim(),
                Publisher: $('#bookPublisher').val().trim(),
                PublishedYear: $('#publishedYear').val(),
                CategoryId: $('#addBookCategory').find(":selected").val(),
                AuthorId: $('#addBookAuthor').find(":selected").val(),
                TotalCopies: $('#totalCopies').val().trim(),
                Avatar: $('#avatar').val(),
                Pdf: $('#pdf').val()
            };

            $.ajax({
                url: '/Book/AddBook',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(bookData),
                success: function (response) {
                    if (response.success) {
                        alert('Book added successfully!');
                        $('#addBookModal').modal('hide');

                        // Call loadContent with actual URL and target
                        loadContent('/Admin/BookView', document.querySelector('#main-content'));
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function () {
                    alert('Error adding book.');
                }
            });
        });


        // Create Loans
        $(document).on('click', '.create-loan-btn', function () {
            const url = `/Loan/CreateLoan`;
            const data = {
                BookId: $('#bookId').val(),
                UserId: $('#userId').val(),
                LoanDate: $('#loanDate').val(),
                ReturnDate: $('#returnDate').val(),
                DueDate: $('#dueDate').val(),
                status: $('#status').val()
            };
            
            console.log(data);
            

            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.success) {
                        alert('Loan created successfully!');
                        $('#addLoanModal').modal('hide');

                        // Call loadContent with actual URL and target
                        loadContent('/Admin/LoanView', document.querySelector('#main-content'));
                    } else {
                        alert('Error: ' + response.message);
                    }
                },
                error: function () {
                    alert('Error creating loan.');
                }
            });
        });
        
        // Reload the page when modal is closed
        function reloadUserView() {
            const container = document.getElementById('bookContent');
            const url = '/Admin/UserView';

            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.text();
                })
                .catch(error => {
                    console.error('Error reloading book view:', error);
                });
        }
    });

</script>

